{% extends 'base.html' %}
{% block content %}

<div class="our-gallery-wrapper">
  <div class="our-gallery">PHOTO GALLERY</div>
</div>
<div class="frame-group-gallery">
  <div class="frame-wrapper-gallery">
    <div class="frame-container-gallery">
      <div class="vector-parent-gallery">


        <div class="rectangle-parent-gallery">
          <div class="frame-item-gallery"></div>
          <div class="frame-item-gallery"></div>
          <div class="frame-item-gallery"></div>
          <div class="frame-item-gallery"></div>
        </div>
        <div class="rectangle-parent-gallery">
          <div class="frame-item-gallery"></div>
          <div class="frame-item-gallery"></div>
          <div class="frame-item-gallery"></div>
          <div class="frame-item-gallery"></div>
        </div>
      </div>
      <div class="vector-parent-gallery">

        <div class="frame-child6-gallery"></div>
        <div class="frame-child6-gallery"></div>

      </div>

    </div>
  </div>
  <div class="frame-wrapper1-gallery">
    <div class="load-more-parent-gallery">
      <div class="our-gallery">LOAD MORE</div>
      <img class="icon-alternate-sign-in-gallery" alt="" src="./public/-icon-alternate-sign-in.svg" />
    </div>
  </div>
</div>
{% endblock %}